header {
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin: 12px;
  
  
}
div#right{
  column-start:2;
  column-end:3;
 
}
img{
  height: 100vh;
}
section {
  Display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  position:relative;
  left: -150px;
  top: -60px;
  z-index: 1;
  
}

.pic1{
  width: 100%;
  height: 25vh;
  background-image: url('https://github.com/alopez1775/final_spring_19/blob/master/assets/images/alex-shutin-203873-unsplash.jpg?raw=true');
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.19);
}
.pic2{
  width: 100%;
  height: 25vh;
  background-image: url('https://github.com/alopez1775/final_spring_19/blob/master/assets/images/matthew-brodeur-428829-unsplash.jpg?raw=true');
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.19);
}
.pic3{
  width: 100%;
  height: 25vh;
  background-image: url('https://github.com/alopez1775/final_spring_19/blob/master/assets/images/chris-osmond-385532-unsplash.jpg?raw=true');
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.19);
  
}
h2{
  position:relative;
  font-family: 'Source Sans Pro', sans-serif;
  background: #fbf7eb;
  left: -300px;
  top: -60px;
  z-index: 1;
  font-size: 150px;
  color: #014262;
}
h3{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
  padding:30px;
  color: #014262;
}
p {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  padding:30px;
}